﻿@model Bookstore.Data.Models.Order
@{
    ViewData["Title"] = "OrderInfo";
}

<h2>OrderInfo</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Country
            </th>
            <th>
                City
            </th>
            <th>
                Postcode
            </th>
            <th>
                E-mail
            </th>
            <th>
                Phone
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Firstname @Model.Lastname
            </td>
            <td>
                @Model.Address
            </td>
            <td>
                @Model.Country
            </td>
            <td>
                @Model.City
            </td>
            <td>
                @Model.Postcode
            </td>
            <td>
                @Model.PhoneNumber
            </td>
            <td>
                @Model.Email
            </td>
        </tr>
        </tbody>
</table>
<div>
    <a asp-action="Index">Back to Order</a>
</div>